<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.Zimanks" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGap</name>
    <description>
        Segunda Pagina Informativa de PhoneGap
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Rafael Simancas
    </author>
    <content src="index.html" />
    <access origin="*" />

<icon src="jquery-mobile/images/icono.png" gap:density="ldpi" gap:platform="android" />
<icon src="jquery-mobile/images/icono.png" gap:density="mdpi" gap:platform="android" />
<icon src="jquery-mobile/images/icono.png" gap:density="hdpi" gap:platform="android" />
<icon src="jquery-mobile/images/icono.png" gap:density="xhdpi" gap:platform="android" />

</widget>
